<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="go1_control_joint" params="name initial lower upper">
    <joint name="${name}">
      <command_interface name="position">
        <param name="min">${lower}</param>
        <param name="max">${upper}</param>
      </command_interface>
      <state_interface name="position">
        <param name="initial_value">${initial}</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
      <state_interface name="torque"/>
    </joint>
  </xacro:macro>

  <xacro:macro name="go1_ros2_control" params="headless">
    <ros2_control name="MujocoSystem" type="system">
      <hardware>
        <plugin>mujoco_ros2_control/MujocoSystemInterface</plugin>
        <param name="mujoco_model">$(find mymit_robot)/unitree_go1/scene.xml</param>
        <param name="initial_keyframe">home</param>
        <param name="sim_speed_factor">1.0</param>
        <param name="headless">${headless}</param>
      </hardware>

      <xacro:go1_control_joint name="FR_hip_joint" initial="0.0" lower="-0.863" upper="0.863"/>
      <xacro:go1_control_joint name="FR_thigh_joint" initial="0.9" lower="-0.686" upper="4.501"/>
      <xacro:go1_control_joint name="FR_calf_joint" initial="-1.8" lower="-2.818" upper="-0.888"/>
      <xacro:go1_control_joint name="FL_hip_joint" initial="0.0" lower="-0.863" upper="0.863"/>
      <xacro:go1_control_joint name="FL_thigh_joint" initial="0.9" lower="-0.686" upper="4.501"/>
      <xacro:go1_control_joint name="FL_calf_joint" initial="-1.8" lower="-2.818" upper="-0.888"/>
      <xacro:go1_control_joint name="RR_hip_joint" initial="0.0" lower="-0.863" upper="0.863"/>
      <xacro:go1_control_joint name="RR_thigh_joint" initial="0.9" lower="-0.686" upper="4.501"/>
      <xacro:go1_control_joint name="RR_calf_joint" initial="-1.8" lower="-2.818" upper="-0.888"/>
      <xacro:go1_control_joint name="RL_hip_joint" initial="0.0" lower="-0.863" upper="0.863"/>
      <xacro:go1_control_joint name="RL_thigh_joint" initial="0.9" lower="-0.686" upper="4.501"/>
      <xacro:go1_control_joint name="RL_calf_joint" initial="-1.8" lower="-2.818" upper="-0.888"/>
    </ros2_control>
  </xacro:macro>
</robot>
